<mat-card class="card" [ngClass]="{'-fail': taskData.failed, '-done': taskData.done, '-deleted': deleted}">
  <div class="card__backdrop"></div>
  <div class="card__line"></div>
  <mat-icon class="card__done-icon"  aria-label="Done">done</mat-icon>
  <mat-icon class="card__fail-icon"  aria-label="Fail">close</mat-icon>
  <div class="card__title">
    <mat-card-title>
      {{taskData.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{taskData.category}}
    </mat-card-subtitle>
  </div>
  <mat-card-content  class="card__description">
    {{taskData.description}}
    <span class="card__date">Deadline: <countdown-timer (zeroTrigger)="markAsFailed()" [end]="taskData.deadline"></countdown-timer></span>
  </mat-card-content >
  <mat-card-actions class="card__buttons">
    <button mat-icon-button class="card__done-btn" (click)="changeTask(taskData)">
      <mat-icon aria-label="Mark as done">edit</mat-icon>
    </button>
    <button mat-icon-button class="card__done-btn" (click)="markAsDone()">
      <mat-icon aria-label="Mark as done">done</mat-icon>
    </button>
    <button mat-icon-button class="card__fail-btn" (click)="delete()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
