<mat-drawer-container class="page-container" hasBackdrop="true">

  <mat-toolbar color="primary">
    <span>{{userName}}, it`s time to add new task</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon aria-label="Add item" (click)="drawer.toggle()">add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer #drawer class="sidenav" position="end" mode="over">
    <div class="sidenav__title">
      <h2 class="mat-typography">Add New Task</h2>
      <mat-icon aria-label="Close menu" (click)="drawer.toggle()">close</mat-icon>
    </div>
    <app-task-form></app-task-form>
  </mat-drawer>

  <div class="container">
    <div class="tasks-list" *ngIf="tasks">
      <div class="priority-task" *ngIf="tasks.priorityTasks">
        <h3 class="priority-task__title">Priority task</h3>
        <div class="priority-task__wrapper"  cdkDropList (cdkDropListDropped)="drop($event)">
          <app-task cdkDrag *ngFor="let task of tasks.priorityTasks" [taskData]="task"></app-task>
        </div>
      </div>
      <div class="common-task" *ngIf="tasks.lowPriorityTasks">
        <div class="common-task__title">
          <h3>Common task</h3>
          <mat-form-field>
            <mat-select placeholder="Choose category" (selectionChange)="categoryChange($event.value)">
              <mat-option>-- None --</mat-option>
              <mat-option value="family">Family</mat-option>
              <mat-option value="work">Work</mat-option>
              <mat-option value="pets">Pets</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="priority-task__wrapper" cdkDropList>
          <app-task cdkDrag *ngFor="let task of tasks.lowPriorityTasks" [taskData]="task"></app-task>
        </div>
      </div>
    </div>
  </div>


</mat-drawer-container>
