.page-container {
  min-height: 100vh;
}

.sidenav {
  &__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.sidenav {
  background: white;
  padding: 1rem 8rem;
}

.spacer {
  flex: 1 1 auto;
}

.priority-task {
  margin-top: 4rem;
  position: relative;
  padding: 2rem 2.5rem 1rem;
  border: 1px solid crimson;
  border-radius: 2rem;

  &__title {
    position: absolute;
    top: 0;
    transform: translate(-1rem, -150%);
    background-color: white;
    padding: 0 1rem;
  }
}

.common-task {
  padding: 2rem 2.5rem 1rem;

  &__title {
    display: flex;
    justify-content: space-between;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
