@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;

  &.-sm {
    max-width: 600px;
  }


  &.-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
